<div class="container">
  <div class="title">
    <label>🌲</label>
    <h1 class="text-title">Focus Forest</h1>
    <label>🌲</label>
  </div>

  <div class="container-actions">

    <div>
      <label>Choose your forest type :</label>
    </div>
    <div class="dropdown" [class]="{'not-allowed': firstFocusActivated, 'allowed': !firstFocusActivated}" [title]="firstFocusActivated ? 'Not allowed when the forest is growing' : 'Seasons will change the trees'">

      <div class="select-box" (click)="showHideList()">
        @if (!!forestType) {
        {{forestType}}
        }

      </div>
      @if (listActivated) {
      <ul class="list-types">
        @for (type of forestTypes; track type) {
        <li (click)="changeSeasonType(type)" [class.selected]="forestType === type">
          {{type}}
        </li>
        }
      </ul>
      }
    </div>
    <button class="focus-btn" type="button" (click)="startFocus()" [disabled]="focusActive">Focus</button>
    <button class="focus-btn" type="button" (click)="stopFocus()" [disabled]="!focusActive">Stop Focus</button>
    <button class="focus-btn" type="button" (click)="deleteForest()" [disabled]="!firstFocusActivated">Reset
      Forest</button>
  </div>

  <app-canvas-forest></app-canvas-forest>

  <!-- Timer -->
  <div class="wrappedTimer">
    @if (firstFocusActivated) {
    <p class="timer">⏱️ Time focused: {{ formattedTimer }}</p>
    }
  </div>
  <!-- Timer -->

</div>
